form{
    margin: 20px auto;
}
button{
    width: 100px;
}

#report{
    border: 3px solid grey;
    width: 700px;
    margin: 10px auto;
    padding: 10px 20px 10px;
    color: blue;
    background-color: rgba(255, 255, 255, 0.8);
}
#report li{
    margin: 10px 0px;
}
#report h3{
    text-align: center;
    color: red;
    margin-bottom: 40px;
}

#remark {
    width: 800px;
    margin: 20px auto;
    text-align: center;
}

#remark button {
    margin: 10px auto;
}

#remark textarea {
    width: 700px;
    height: 150px;
    margin: 10px auto;
    white-space: pre-line;
}

#inlineRemark{
    background-color: #f2f2f2;
    border: 1px solid grey; 
    padding: 5px 20px;    
    word-break: break-all;
}

#inlineRemark p{
    white-space: pre-line;
}

    