

<div class="tab-content container-fluid">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#new">New</a></li>
    <li><a data-toggle="pill" href="#modify">Modify</a></li>
    <li><a data-toggle="pill" href="#delete">Delete</a></li>
  </ul>
  <!--Create new patients-->
  <div id="new" class="tab-pane fade in active">
    <form [formGroup]="myForm"
          (ngSubmit)="onSubmit(myForm.value)"
          class="well"
          novalidate>
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="first">First Name</label>
          <input type="text"
                 id="first"
                 formControlName="first"
                 class="form-control">
            <div *ngIf="myForm.controls['first'].invalid && (myForm.controls['first'].dirty || myForm.controls['first'].touched)"
                 class="alert alert-danger">
              <div *ngIf="myForm.controls['first'].errors.required">
                 {{titleAlert}}
              </div>
            </div>
        </div>

        <div class="form-group col-lg-4">
          <label>Last Name</label>
          <input type="text"
                 id="last_name"
                 formControlName="last"
                 class="form-control">
          <div *ngIf="myForm.controls['last'].invalid && (myForm.controls['last'].dirty || myForm.controls['last'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['last'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label>Age</label>
          <input type="text"
                 id="age"
                 formControlName="age"
                 class="form-control" [(ngModel)]="this.age" disabled>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4">
          <label>Sex</label>
          <select formControlName="sexe"
                  class="form-control">
            <option *ngFor="let sexe of sexes" [value]="sexe">{{sexe}}</option>
          </select>
          <div *ngIf="myForm.controls['sexe'].invalid && (myForm.controls['sexe'].dirty || myForm.controls['sexe'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['sexe'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label>Date of Birth</label>
          <my-date-picker name="mydate"
                          [options]="myDatePickerOptions"
                          formControlName="myDate"
                          (inputFocusBlur)="calculateAge()"></my-date-picker>
          <div *ngIf="myForm.controls['myDate'].invalid && (myForm.controls['myDate'].dirty || myForm.controls['myDate'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['myDate'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="email">Email</label>
          <input type="email"
                 id="email"
                 formControlName="email"
                 class="form-control" email="true">
          <div *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['email'].errors.required">
              {{titleAlert}}
            </div>
            <div *ngIf="myForm.controls['email'].errors.email">Please input a valid email.</div>
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label>Phone Number</label>
          <input type="text"
                 formControlName="phone"
                 class="form-control" placeholder="+33 12 34 56 78 90" [textMask]="{mask: mask}">
          <div *ngIf="myForm.controls['phone'].invalid && (myForm.controls['phone'].dirty || myForm.controls['phone'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['phone'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Address</label>
        <input type="text"
               formControlName="address"
               class="form-control">
        <div *ngIf="myForm.controls['address'].invalid && (myForm.controls['address'].dirty || myForm.controls['address'].touched)"
             class="alert alert-danger fade in">
          <div *ngIf="myForm.controls['address'].errors.required">
            {{titleAlert}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label>City</label>
          <input type="text"
                 formControlName="city"
                 class="form-control">
          <div *ngIf="myForm.controls['city'].invalid && (myForm.controls['city'].dirty || myForm.controls['city'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['city'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Zip</label>
          <input type="text"
                 class="form-control"
                 formControlName="zip"/>
          <div *ngIf="myForm.controls['zip'].invalid && (myForm.controls['zip'].dirty || myForm.controls['zip'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['zip'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>ID Reference</label>
          <input type="text"
                 formControlName="id"
                 class="form-control">
          <div *ngIf="myForm.controls['id'].invalid && (myForm.controls['id'].dirty || myForm.controls['id'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['id'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Pathology</label>
          <select class="form-control" formControlName="pathology">
            <option *ngFor="let pathology of pathologies" [value]="pathology">{{pathology}}</option>
          </select>
          <div *ngIf="myForm.controls['pathology'].invalid && (myForm.controls['pathology'].dirty || myForm.controls['pathology'].touched)"
               class="alert alert-danger fade in">
            <div *ngIf="myForm.controls['pathology'].errors.required">
              {{titleAlert}}
            </div>
          </div>
        </div>
      </div>
      <p>Date of birth: {{myForm.controls['myDate'].value | json}}</p>
      <p>Email value: {{myForm.get('email').value | json}}</p>
      <p>Email value: {{myForm.get('email').status | json}}</p>
      <p>Form value: {{ myForm.value | json }}</p>
      <p>Form status: {{ myForm.status | json }}</p>
      <div class="input-group-btn">
        <button class="btn btn-danger" type="button" id="reset" (click)="reset()">Reset
          <i class="glyphicon glyphicon-erase"></i>
        </button>
        <button class="btn btn-success" type="submit" id="submit" [disabled]="!myForm.valid">Submit
          <i class="glyphicon glyphicon-ok"></i>
        </button>
      </div>
    </form>
  </div>
  <div id="modify" class="tab-pane fade">
    <h3>MODIFY</h3>
    <p>Some content in menu 1.</p>
  </div>

  <div id="delete" class="tab-pane fade">
    <h3>DELETE</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
